.frame {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-color: var(--frameBackground);
  position: relative;
  overflow: hidden;
}

.modelSelectorContainer {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  padding-left: 25px;
  padding-top: 25px;
  box-sizing: border-box;
  pointer-events: none;
  user-select: none;
  gap: 8px;
}

app-model-selector {
  pointer-events: auto;
  user-select: text;
}

app-sidebar-collapse-button {
  display: flex;
  align-items: center;
  pointer-events: auto;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--contentBackground);
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
}

.contentFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.chat {
  height: auto;
  overflow-y: auto;
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat.smooth-scroll {
  scroll-behavior: smooth;
}

.chat::-webkit-scrollbar {
  width: 10px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumb);
  border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollBarThumbHover);
}

.questionContainer {
  width: var(--width);
  height: fit-content;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.question {
  margin-top: 20px;
  max-width: 70%;
  width: fit-content;
  height: fit-content;
  background-color: var(--questionBackground);
  color: var(--questionText);
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 29px;
  box-sizing: border-box;
  word-break: break-word;
}

.response {
  margin-top: 20px;
  width: var(--width);
  height: fit-content;
  border: 1px solid var(--responseBorder);
  background-color: var(--responseBackground);
  color: var(--responseText);
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 29px;
  box-sizing: border-box;
  word-break: break-word;
}

.think {
  font-style: italic;
  color: var(--responseText);
  opacity: 0.45;
}

.interruptedMessage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--interrupted);
}

.modelName {
  color: var(--modelName);
  opacity: 0.8;
}

.response:last-child {
  margin-bottom: 15px;
}

.queryInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.queryOuterContainer {
  margin-left: 5px;
}

.messageAttachmentsContainer {
  max-height: 175px;
  justify-content: flex-end;
  gap: 7px;
  padding: 0;
}

.messageAttachmentsContainer::-webkit-scrollbar {
  width: 8px;
}

.attachmentsContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumb) !important;
  border-radius: 10px;
}

.messageAttachment {
  bottom: 0px;
}

.scrollDownHelper {
  position: relative;
  bottom: 35px;
  z-index: 100;
  height: 0px;
  background-color: transparent;
}

.scrollDownButton {
  padding: 6px;
  border-radius: 100px;
  background-color: var(--scrollDownButtonBackground);
  border: 0.5px solid var(--scrollDownButtonBorder);
  color: var(--scrollDownButtonColor);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.125);
  transition: all 0.1s ease-in-out;
}

.scrollDownButton:hover {
  background-color: var(--scrollDownButtonHover);
  cursor: pointer;
}

.scrollDownButton.disabled {
  opacity: 0;
  z-index: -99;
  user-select: none;
  pointer-events: none;
  transform: scale(0.4);
  transition: all 0.1s ease-in-out;
}

.gradient {
  position: relative;
  width: var(--width);
  height: 20px;
  bottom: 20px;
  background: var(--gradient);
}

.skeletonResponse {
  margin-top: 10px;
  width: 100%;
  height: 20px;
  border-radius: 20px;
}

.skeleton {
  overflow: hidden;
  position: relative;
  background-color: #f4f4f400;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(var(--skeletonGradient), 0) 0%,
      rgba(var(--skeletonGradient), 0.5) 10%,
      rgba(var(--skeletonGradient), 0.5) 20%,
      rgba(var(--skeletonGradient), 0.75) 30%,
      rgba(var(--skeletonGradient), 1) 40%,
      rgba(var(--skeletonGradient), 1) 50%,
      rgba(var(--skeletonGradient), 1) 60%,
      rgba(var(--skeletonGradient), 0.75) 70%,
      rgba(var(--skeletonGradient), 0.5) 80%,
      rgba(var(--skeletonGradient), 0.5) 90%,
      rgba(var(--skeletonGradient), 0) 100%
    );
    animation: shimmer 1.2s infinite;
    animation-timing-function: cubic-bezier(0.74, -0.01, 0.26, 1.04);
    opacity: 1;
    content: "";
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
