<div class="frame">
  <div class="modelSelectorContainer">
    <app-sidebar-collapse-button></app-sidebar-collapse-button>
    <app-model-selector></app-model-selector>
  </div>
  <div class="content">
    <div class="contentFrame">
      <div class="chat" #chatContainer>
        @for (message of messages; track $index; let last = $last) {
          @if (message.role == "assistant" || message.role == "bot") {
            <div class="response">
              <span class="modelName">{{ message.model!.split(":")[0] }}:</span>
              <br />
              @if (isGenerating && last) {
                <div class="skeleton skeletonResponse"></div>
              }
              <markdown
                ngPreserveWhitespaces
                katex
                clipboard
                [data]="message.content"
              >
              </markdown>
              @if (message.interrupted) {
                <div class="interruptedMessage">Interrupted</div>
              }
            </div>
          } @else {
            <div class="questionContainer">
              <div class="question">
                <markdown
                  ngPreserveWhitespaces
                  katex
                  [data]="message.content"
                ></markdown>
              </div>
              @if (message.attachment_name) {
                <div class="attachmentFrame messageAttachment">
                  @if (message.images!.length > 0) {
                    <div class="attachmentImage">
                      <img [src]="'data:image/jpeg;base64,' + message.images![0]"/>
                    </div>
                  } @else {
                    <div class="attachmentImagePlaceholder"><span class="material-symbols-rounded boldSymbol">
                      image
                      </span></div>  
                  }
                  <div class="attachmentInfo">
                    <div class="attachmentName">{{ message.attachment_name }}</div>
                    <div class="attachmentType">{{ message.attachment_type }}</div>
                  </div>
                </div>
              }
            </div>
          }
        }

        @if (
          this.streamingMessage !== null &&
          this.streamingMessage.message &&
          this.chatID === this.streamingMessage.chatID &&
          this.streamingMessage.isResponding
        ) {
          <div class="response">
            <span class="modelName"
              >{{ this.streamingMessage.message.model!.split(":")[0] }}:</span
            >
            <br />
            @if (this.streamingMessage.isGenerating) {
              <div class="skeleton skeletonResponse"></div>
            }
            <markdown
              ngPreserveWhitespaces
              katex
              [data]="this.streamingMessage.message.content"
            >
            </markdown>
          </div>
        }
      </div>
      <div class="queryInputContainer">
        <div class="scrollDownHelper">
          <span
            class="material-symbols-rounded scrollDownButton"
            [class.disabled]="isAtBottom"
            (click)="scrollToBottom(true)"
            >arrow_downward</span
          >
        </div>
        <div class="gradient"></div>
        <div class="queryOuterContainer" [class.inactive]="!hasFiles">
          @if (files.length > 0) {
            <div class="attachmentsContainer">
              @for (file of files; track $index) {
                <div class="attachmentFrame">
                  <div class="attachmentImage"><img [src]="'data:image/jpeg;base64,' + this.images[$index]"/></div>
                  <div class="attachmentInfo">
                    <div class="attachmentName">{{ file.name }}</div>
                    <div class="attachmentType">{{ file.type }}</div>
                  </div>
                  <div class="removeAttachment" (click)="removeFile($index)"><span class="material-symbols-rounded closeSymbol">
                    close
                    </span></div>
                </div>
              }
            </div>
          }
          <div class="queryInputBorder">
            <textarea
            id="8"
            class="queryInput unrevealed2 rvItem"
            placeholder="Message {{ selectedModel!.name_trimmed }}"
            [(ngModel)]="queryText"
            [class.disabled]="isDisabled"
            (input)="onTextAreaInput()"
            [disabled]="isDisabled"
            [placeholder]="
              isDisabled
                ? (this.streamingMessage!.isGenerating ? 'Loading model...' : 'Generating response...')
                : 'Message ' + selectedModel?.name_trimmed
            "
            (keydown)="sendQueryKeydown($event)"
            #queryTextArea
          ></textarea>
          <div class="inputBorderContainer">
            <input type="file" accept=".png, .jpg, .webp, .jpeg, .avif" [class.disabled]="isDisabled" (change)="onFileUpload($event)" #fileUpload>
            <div class="inputButton unrevealed rvItem" [class.disabled]="isDisabled" id="9" (click)="fileUpload.click()">
              <span class="material-symbols-rounded">
                upload
                </span>
              Upload Image
            </div>
            @if (isDisabled) {
              <div class="interruptButtonContainer">
                <div class="interruptButtonOuter" (click)="handleInterrupt()">
                  <div class="interruptButton"></div>
                </div>
              </div>
            } @else {
              <div class="interruptButtonContainer">
                <div class="interruptButtonOuter" [class.disabled]="this.queryText.length == 0" (click)="simulateEnterPress()">
                  <div class="sendButton"><span class="material-symbols-rounded sendIcon">
                    send
                    </span></div>
                </div>
              </div>
            }
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
