.frame.collapsed {
  width: 0px !important;
  transition: all 0.4s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

.frame {
  transition: all 0.4s cubic-bezier(0.74, -0.01, 0.26, 1.04);
  width: 250px;
  background-color: var(--frameBackground);
}

.sidebar {
  width: 250px;
  height: 100%;
  max-height: 100vh;
  background-color: var(--frameBackground);
  display: flex;
  flex-direction: column;
}

.logo {
  padding-bottom: 10px;
  padding-top: 4px;
  min-height: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

.chatsContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  gap: 15px;
  max-height: 100%;
}

.chatsContainer::-webkit-scrollbar {
  background-color: var(--frameBackground);
  width: 8px;
}

.chatsContainer::-webkit-scrollbar-thumb {
  background-color: var(--chatsContainerThumb);
  border-radius: 10px;
}

.chats {
  padding-bottom: 10px;
  width: 230px;
  margin-left: 4px;
  height: fit-content;
}

.chatsHeading {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 15px;
  gap: 3px;
  font-size: 15px;
  letter-spacing: -0.25px;
  font-weight: 600;
  color: var(--scrollDownButtonColor);
  justify-content: space-between;
}

.newChatContainer {
  width: 90%;
  height: fit-content;
  min-height: fit-content;
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 1px;
  overflow: hidden;
}

.newChat {
  align-items: center;
  border-radius: 20px;
  padding: 3px;
}

.newChat:hover {
  background-color: #e7e7e750;
  border-radius: 20px;
  cursor: pointer;
}

.chatWrapper {
  position: relative;
  height: 30px;
  width: 100%;
  max-width: 100%;
  padding: 20px 0px 20px 15px;
  margin-bottom: 7px;
  border-radius: 13px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--chatWrapperColor);
  user-select: none;
}

.chatWrapper:hover {
  background-color: var(--chatWrapperHoverBackground);
  color: var(--chatWrapperHoverColor);
  cursor: pointer;
}

.chatWrapper:hover .menuIcon {
  display: block;
  pointer-events: initial;
  user-select: initial;
  cursor: pointer;
}

.menuIcon {
  display: none;
  user-select: none;
  pointer-events: none;
  padding: 3px;
  border-radius: 100px;
  background-color: var(--menuIconBackground);
}

.menuIcon:hover {
  background-color: var(--menuIconHoverBackground);
}

.chatMenu {
  height: min-content;
}

.chat {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chatWrapper.active {
  background-color: var(--chatWrapperActiveBackground);
  color: var(--chatWrapperActiveColor);
  font-weight: 500;
}

.menu {
  position: absolute !important;
  display: none;
  flex-direction: row;
  background-color: var(--menuBackground);
  left: 0px;
  z-index: 99;
  height: 30px;
  width: 100%;
  max-width: 100%;
  padding: 20px 0px 20px 10px;
  border-radius: 13px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.25px;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.menu.show {
  display: flex;
}

.menuItemContainer {
  display: flex;
  gap: 8px;
}

.menuItem {
  padding: 4px 14px 4px 14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editItem {
  border: 0.5px solid var(--editBorder);
  color: var(--editColor);
  background-color: var(--editBackground);
}

.editItem:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.deleteItem {
  border: 0.5px solid var(--deleteBorder);
  color: var(--deleteColor);
  background-color: var(--deleteBackground);
}

.deleteItem:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
