<div class="frame">
  <div class="modelSelectorContainer">
    <app-sidebar-collapse-button></app-sidebar-collapse-button>
    <app-model-selector></app-model-selector>
  </div>
  <div class="content" (click)="reveal()">
    <div class="contentFrame">
      <div class="greetingContainer">
        <div class="line topLine">
          <div class="unrevealed rvItem" id="1">Hi,</div>
          <div class="unrevealed rvItem" id="2">I'm</div>
          <div class="modelName unrevealed rvItem" id="3">
            {{
              selectedModel!.name_trimmed.substring(0, 1).toUpperCase() +
                selectedModel!.name_trimmed.substring(1)
            }}
          </div>
          <div class="unrevealed rvItem" id="4">👋</div>
        </div>
        <div class="line bottomLine">
          <div class="unrevealed rvItem" id="5">How can</div>
          <div class="unrevealed rvItem" id="6">I help</div>
          <div class="unrevealed rvItem" id="7">you today?</div>
        </div>
      </div>
      <div class="queryOuterContainer" [class.inactive]="!hasFiles">
        @if (files.length > 0) {
          <div class="attachmentsContainer">
            @for (file of files; track $index) {
              <div class="attachmentFrame">
                <div class="attachmentImage"><img [src]="'data:image/jpeg;base64,' + this.images[$index]"/></div>
                <div class="attachmentInfo">
                  <div class="attachmentName">{{ file.name }}</div>
                  <div class="attachmentType">{{ file.type }}</div>
                </div>
                <div class="removeAttachment" (click)="removeFile($index)"><span class="material-symbols-rounded closeSymbol">
                  close
                  </span></div>
              </div>
            }
          </div>
        }
        <div class="queryInputBorder">
          <textarea
          id="8"
          class="queryInput unrevealed2 rvItem"
          placeholder="Message {{ selectedModel!.name_trimmed }}"
          [(ngModel)]="queryText"
          [class.disabled]="isDisabled"
          (input)="onTextAreaInput()"
          [disabled]="isDisabled"
          [placeholder]="
            isDisabled
              ? 'Generating response...'
              : 'Message ' + selectedModel?.name_trimmed
          "
          (keydown)="sendQueryKeydown($event)"
          #queryTextArea
        ></textarea>
        <div class="inputBorderContainer">
          <input type="file" accept=".png, .jpg, .webp, .jpeg, .avif, .heic" (change)="onFileUpload($event)" #fileUpload>
          <div class="inputButton unrevealed rvItem" id="9" (click)="fileUpload.click()">
            <span class="material-symbols-rounded">
              upload
              </span>
            Upload Image
          </div>
          <div class="interruptButtonContainer unrevealed rvItem" id="10">
            <div class="interruptButtonOuter" (click)="simulateEnterPress()">
              <div class="sendButton"><span class="material-symbols-rounded sendIcon">
                send
                </span></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
