.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.modelContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sidebarCollapseButton {
  margin-top: 9px;
}

.currentModel {
  width: fit-content;
  padding: 10px 14px;
  border: 0.5px solid #dfdfdf;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Inter Display";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.35px;
  user-select: none;
}

.currentModel:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.modelSize {
  font-family: "DM Mono";
  font-size: 13px;
  color: #4e4e4e;
  background-color: transparent;
  border: 0.5px solid rgb(223, 223, 223);
  padding: 1px 7px;
  border-radius: 6px;
  font-weight: 500;
  height: fit-content;
  display: flex;
  align-items: center;
}

.modelSizeSelected {
  background-color: #d4e9ff;
  color: #003b79;
  border: none;
}

.modelQuantization {
  opacity: 0.65;
  color: #4e4e4e;
  background-color: transparent;
  border: 0.5px solid rgb(223, 223, 223);
}

.downCaret {
  margin-left: 0px;
  transition: all 0.1s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

#downCaret.rotate {
  transform: rotate(180deg);
  transition: all 0.1s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

.modelDropdown {
  padding: 10px 10px;
  border: 0.5px solid #dfdfdf;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 1;
  user-select: initial;
  pointer-events: initial;
  background-color: #ffffff;
  max-height: 80vh;
  overflow-y: auto;
  min-width: 250px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
}

#modelDropdown.inactive {
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  display: none;
}

.model {
  font-family: "Inter Display";
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.35px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  padding: 8px 8px;
  border-radius: 10px;
  user-select: none;
}

.modelTags {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.model.active {
  background-color: #f4f4f4;
  font-weight: 500;
}

.model:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.modelCategory {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Inter Display";
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.35px;
  justify-content: space-between;
  padding: 8px 8px;
  border-radius: 10px;
  user-select: none;
}

.modelCategory:hover {
  .modelSize {
    color: #4e4e4e;
    border: 0.5px solid rgb(210, 210, 210);
  }
  .modelQuantization {
    color: #4e4e4e;
    border: 0.5px solid rgb(210, 210, 210);
  }
  background-color: #f4f4f4;
  cursor: pointer;
}

.categoryHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerModels {
  display: none;
  .model {
    color: transparent;
  }
  .model:hover {
    background-color: #ededed;
    .modelSize {
      color: #4e4e4e;
      border: 0.5px solid rgb(170, 170, 170);
    }
    .modelQuantization {
      color: #4e4e4e;
      border: 0.5px solid rgb(170, 170, 170);
    }
  }
}

.innerModels.active {
  display: flex;
  flex-direction: column;
}

.modelCategory.active:hover{
  background-color: transparent;
}

.caret {
  transform: rotate(0deg);
  transition: all 0.1s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

.caret.active {
  transform: rotate(180deg);
  margin-left: 0px;
  transition: all 0.1s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}
