:root {
  --width: 850px;
  font-family: 'InterVariable', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'ss03' 1, 'cv01' 1, 'cv05' 1, 'cv06' 1;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --factor: 1;
}

@font-face {
  font-family: 'InterVariable';
  src: url("/frontend/src/assets/InterVariable.ttf");
  font-style: normal;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

strong {
  font-weight: 600;
}

p {
  margin: 0;
}

code {
  font-family: "Akkurat-Mono";
  font-size: 14px;
  letter-spacing: initial !important;
  line-height: 10px !important;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 20;
}

.material-symbols-rounded-bold {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

.markdown-clipboard-button {
  background-color: #ffffff;
  border: 0.5px solid #dfdfdf;
  border-radius: 10px;
  padding: 6px 10px;
  font-family: "Inter Display";
  font-size: 13px;
  letter-spacing: -0.25px;
  font-weight: 500;
}

.markdown-clipboard-button:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.tr {
  transition: all 0.15s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

// Styles shared for chat and home components
.queryOuterContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 29px;
  padding: 4px;
  border: 0.5px solid rgb(223, 223, 223);
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactive {
  border: 0px;
  background-color: transparent;
}

.attachmentsContainer {
  width: 100%;
  max-width: var(--width);
  max-height: 482px;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
}

.attachmentFrame {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  border: 0.5px solid rgb(196, 196, 196);
  background-color: white;
  border-radius: 16px;
  display: flex;
  gap: 10px;
}

.attachmentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding-right: 20px;
}

.attachmentName {
  max-width: 150px;
  font-size: 14px;
  font-weight: 550;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.attachmentType {
  font-size: 14px;
}

.removeAttachment {
  width: 16px;
  height: 16px;
  border-radius: 99px;
  position: absolute;
  background-color: white;
  border: 0.5px solid rgb(196, 196, 196);
  right: -3px;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .closeSymbol {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20 !important;
    font-size: 15px !important;
  }
}

.removeAll {
  right: -5px;
  top: -5px;
  width: 25px;
  height: 25px;
  z-index: 999;
  .closeSymbol {
    font-size: 18px !important;
  }
}

.removeAttachment:hover {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
}

.attachmentImage {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.attachmentImagePlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #d4e9ff;
  color: #003b7996;
  display: flex;
  justify-content: center;
  align-items: center;
  .boldSymbol {
    font-variation-settings:
      'FILL' 0,
      'wght' 600,
      'GRAD' 0,
      'opsz' 48
  }
}

.queryInputBorder {
  border-radius: 29px;
  padding: 5px 5px 5px 5px;
  border: 0.5px solid rgb(223, 223, 223);
  text-decoration: none;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.085);
}

.inputBorderContainer {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inputButton {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  border: 0.5px solid rgb(223, 223, 223);
  border-radius: 25px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inputButton:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.inputButton.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.uploadButtonsContainer {
  display: flex;
  gap: 10px;
}

.interruptButtonContainer {
  position: relative;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.interruptButtonOuter {
  height: 35px;
  width: 35px;
  border-radius: 999px;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: initial;
  pointer-events: initial;
  z-index: 100;
}

.interruptButtonOuter:hover {
  cursor: pointer;
  background-color: #1c1c1c;
}

.interruptButtonOuter.disabled {
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
}

.interruptButton {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: white;
}

.sendButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  .disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}

.sendIcon {
  font-variation-settings: "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

input[type="file"] {
  display: none;
}

input[type="file"].disabled {
  user-select: none;
  pointer-events: none;
}

.queryInput {
  bottom: 0px;
  width: var(--width);
  border: none;
  text-decoration: none;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
  font-size: 17px;
  z-index: 99;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  border-radius: 10px;
  font-family: InterVariable, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'ss03' 1, 'cv01' 1, 'cv05' 1, 'cv06' 1;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

textarea.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}