:root {
  --width: 900px;
  font-family: 'InterVariable', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'ss03' 1, 'cv01' 1, 'cv05' 1, 'cv06' 1;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  //Colors:
  --frameBackground: #f4f4f4;
  --contentBackground: #ffffff;
  --questionText: #003b79;
  --questionBackground: #daecff;
  --responseBackground: #ffffff;
  --responseText: #000000;
  --responseBorder: #f3f3f3;
  --modelName: #025dbd;
  --interrupted: rgba(0, 0, 0, 0.25);
  --scrollBarThumb: #c4c4c4;
  --scrollBarThumbHover: #cdcdcd;
  --gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --queryOuterContainerBackgorund: rgb(246, 246, 246);
  --queryOuterContainerBorder: rgb(223, 223, 223);
  --attachmentFrameBackground: white;
  --attachmentFrameBorder: rgb(196, 196, 196);
  --attachmentInfoColor: black;
  --removeAttachmentBackground: white;
  --attachmentImagePlaceholderBackground: #d4e9ff;
  --attachmentImagePlaceholderColor: #003b7996;
  --queryInputBorderBackground: #ffffff;
  --queryInputBorderBorder: rgb(223, 223, 223);
  --queryInputBorderBoxShadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.085);
  --inputButtonBackground: #ffffff;
  --inputButtonBorder: rgb(223, 223, 223);
  --inputButtonColor: black;
  --inputButtonHover: #f4f4f4;
  --interruptButtonOuter: #2a2a2a;
  --interruptButtonOuterHover: #1c1c1c;
  --interruptButtonBackground: white;
  --skeletonGradient: 212, 233, 255;
  --scrollDownButtonBackground: #ffffff;
  --scrollDownButtonBorder: #c4c4c4;
  --scrollDownButtonColor: #000000;
  --scrollDownButtonHover: #f4f4f4;

  --modelNameHome: #025dbd;
  --homeText: #000000;

  --currentModelBackground: #ffffff;
  --currentModelBorder: #dfdfdf;
  --currentModelColor: black;
  --currentModelHover: #f4f4f4;
  --modelSizeColor: #4e4e4e;
  --modelSizeBorder: rgb(223, 223, 223);
  --modelSizeHover: rgb(200, 200, 200);
  --innerModelsBorder: rgb(170, 170, 170);
  --modelDropdownShadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);

  --chatWrapperColor: #00000070;
  --chatWrapperHoverBackground: #e7e7e750;
  --chatWrapperHoverColor: #000000;
  --menuIconBackground: #c4c4c400;
  --menuIconHoverBackground: #c4c4c450;
  --chatWrapperActiveBackground: #e7e7e7;
  --chatWrapperActiveColor: #000000;
  --menuBackground: #e7e7e7;
  --editColor: #2f2f2f;
  --editBorder: rgb(60, 60, 60);
  --editBackground: #f2db9400;
  --deleteColor: rgb(219, 16, 16);
  --deleteBorder: rgb(219, 16, 16);
  --deleteBackground: rgba(219, 16, 16, 0.025);
  --chatsContainerThumb: #c4c4c430;

  --codeBackground: hsl(230, 1%, 98%);
  --codeText: hsl(230, 8%, 204%);
  --codeTokenPunctuation: hsl(230, 8%, 24%);

  --logoText: #202020
}

[data-theme="dark"] {

  font-family: 'Inter Display', sans-serif;
  letter-spacing: -0.005em;
  //-webkit-font-smoothing: initial;
  text-rendering: optimizeLegibility;
  //-moz-osx-font-smoothing: initial;

  --frameBackground: #242424;
  --contentBackground: #191919;
  --questionText: #ffffffba;
  --questionBackground: #ffffff18;
  --responseBackground: #191919;
  --responseText: #ffffffba;
  --responseBorder: #212121;
  --modelName: #57bfff;
  --interrupted: rgba(255, 255, 255, 0.25);
  --scrollBarThumb: #2c2c2c;
  --scrollBarThumbHover: #333333;
  --gradient: linear-gradient(
    180deg,
    #19191900 0%,
    #191919 100%
  );
  --queryOuterContainerBackgorund: rgb(44, 44, 44);
  --queryOuterContainerBorder: rgb(70, 70, 70);
  --attachmentFrameBackground: rgb(60, 60, 60);
  --attachmentFrameBorder: rgb(100, 100, 100);
  --attachmentInfoColor: rgba(255, 255, 255, 0.9);
  --removeAttachmentBackground: rgb(184, 184, 184);
  --attachmentImagePlaceholderBackground: #a0a0a0;
  --attachmentImagePlaceholderColor: #00000096;
  --queryInputBorderBackground: #232323;
  --queryInputBorderBorder: rgb(68, 68, 68);
  --queryInputBorderBoxShadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  --inputButtonBackground: #383838;
  --inputButtonBorder: rgb(99, 99, 99);
  --inputButtonColor: rgb(195, 195, 195);
  --inputButtonHover: #484848;
  --interruptButtonOuter: #ebebeb;
  --interruptButtonOuterHover: #d3d3d3;
  --interruptButtonBackground: black;
  --skeletonGradient: 38, 95, 155;
  --scrollDownButtonBackground: #2d2d2d;
  --scrollDownButtonBorder: #5f5f5f;
  --scrollDownButtonColor: #ffffff;
  --scrollDownButtonHover: #4a4a4a;

  --modelNameHome: #438fdf;
  --homeText: #ebebeb;;

  --currentModelBackground: #222222;
  --currentModelBorder: #444444;
  --currentModelColor: #ffffffd7;
  --currentModelHover: #313131;
  --modelSizeColor: #858585;
  --modelSizeBorder: rgb(88, 88, 88);
  --modelSizeHover: rgb(200, 200, 200);
  --innerModelsBorder: rgb(107, 107, 107);
  --modelDropdownShadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);

  --chatWrapperColor: #ffffff70;
  --chatWrapperHoverBackground: #45454529;
  --chatWrapperHoverColor: #ffffff;
  --menuIconBackground: #c4c4c400;
  --menuIconHoverBackground: #61616150;
  --chatWrapperActiveBackground: #313131;
  --chatWrapperActiveColor: #ffffff;
  --menuBackground: #313131;
  --editColor: #f2da94;
  --editBorder: #f2da94;
  --editBackground: #f2db9418;
  --deleteColor: rgb(248, 74, 74);
  --deleteBorder: rgb(248, 74, 74);
  --deleteBackground: rgba(248, 74, 74, 0.1);
  --chatsContainerThumb: #5a5a5a30;

  --codeBackground: hsl(0, 0%, 8%);
  --codeText: hsl(0, 0%, 88%);
  --codeTokenPunctuation: hsl(240, 3%, 55%);

  --logoText: red;
}

@font-face {
  font-family: 'InterVariable';
  src: url("/frontend/src/assets/InterVariable.ttf");
  font-style: normal;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  //-webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

strong {
  font-weight: 600;
}

p {
  margin: 0;
}

code {
  font-family: "Akkurat-Mono";
  font-size: 14px;
  letter-spacing: initial !important;
  line-height: 10px !important;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 20;
}

.material-symbols-rounded-bold {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

.markdown-clipboard-button {
  background-color: var(--contentBackground);
  border: 0.5px solid var(--currentModelBorder);
  color: var(--responseText);
  border-radius: 10px;
  padding: 6px 10px;
  font-family: "Inter Display";
  font-size: 13px;
  letter-spacing: -0.25px;
  font-weight: 500;
}

.markdown-clipboard-button:hover {
  background-color: var(--frameBackground);
  cursor: pointer;
}

.tr {
  transition: all 0.15s cubic-bezier(0.74, -0.01, 0.26, 1.04);
}

.svgText {
  color: red;
}

// Styles shared for chat and home components
.queryOuterContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 29px;
  padding: 4px;
  border: 0.5px solid var(--queryOuterContainerBorder);
  background-color: var(--queryOuterContainerBackgorund);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactive {
  border: 0px;
  background-color: transparent;
}

.attachmentsContainer {
  width: 100%;
  max-width: var(--width);
  max-height: 482px;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
}

.attachmentFrame {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  border: 0.5px solid var(--attachmentFrameBorder);
  background-color: var(--attachmentFrameBackground);
  border-radius: 16px;
  display: flex;
  gap: 10px;
  color: var(--attachmentInfoColor)
}

.attachmentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding-right: 20px;
}

.attachmentName {
  max-width: 150px;
  font-size: 14px;
  font-weight: 550;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.attachmentType {
  font-size: 14px;
}

.removeAttachment {
  width: 16px;
  height: 16px;
  border-radius: 99px;
  position: absolute;
  background-color: var(--removeAttachmentBackground);
  color: black;
  border: 0.5px solid rgb(196, 196, 196);
  right: -3px;
  top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  .closeSymbol {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20 !important;
    font-size: 15px !important;
  }
}

.removeAll {
  right: -5px;
  top: -5px;
  width: 25px;
  height: 25px;
  z-index: 999;
  .closeSymbol {
    font-size: 18px !important;
  }
}

.removeAttachment:hover {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
}

.attachmentImage {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.attachmentImagePlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--attachmentImagePlaceholderBackground);
  color: var(--attachmentImagePlaceholderColor);
  display: flex;
  justify-content: center;
  align-items: center;
  .boldSymbol {
    font-variation-settings:
      'FILL' 0,
      'wght' 600,
      'GRAD' 0,
      'opsz' 48
  }
}

.queryInputBorder {
  border-radius: 29px;
  padding: 5px 5px 5px 5px;
  border: 0.5px solid var(--queryInputBorderBorder);
  text-decoration: none;
  border-radius: 25px;
  background-color: var(--queryInputBorderBackground);
  box-shadow: var(--queryInputBorderBoxShadow);
}

.inputBorderContainer {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.inputButton {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  border: 0.5px solid var(--inputButtonBorder);
  border-radius: 25px;
  background-color: var(--inputButtonBackground);
  color: var(--inputButtonColor);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inputButton:hover {
  cursor: pointer;
  background-color: var(--inputButtonHover);
}

.inputButton.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

.uploadButtonsContainer {
  display: flex;
  gap: 10px;
}

.interruptButtonContainer {
  position: relative;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.interruptButtonOuter {
  height: 35px;
  width: 35px;
  border-radius: 999px;
  background-color: var(--interruptButtonOuter);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: initial;
  pointer-events: initial;
  z-index: 100;
}

.interruptButtonOuter:hover {
  cursor: pointer;
  background-color: var(--interruptButtonOuterHover);
}

.interruptButtonOuter.disabled {
  opacity: 0.25;
  user-select: none;
  pointer-events: none;
}

.interruptButton {
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: var(--interruptButtonBackground);
}

.sendButton {
  color: var(--inputButtonBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  .disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }
}

.sendIcon {
  font-variation-settings: "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

input[type="file"] {
  display: none;
}

input[type="file"].disabled {
  user-select: none;
  pointer-events: none;
}

.queryInput {
  bottom: 0px;
  width: var(--width);
  border: none;
  text-decoration: none;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
  font-size: 17px;
  z-index: 99;
  &:focus {
    outline: none;
  }
}

textarea {
  background-color: transparent;
  color: var(--responseText);
  resize: none;
  border-radius: 10px;
  font-family: InterVariable, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig' 1, 'ss03' 1, 'cv01' 1, 'cv05' 1, 'cv06' 1;
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

textarea.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}