.sidebarCollapseContainer {
  padding: 10px 14px;
  border: 0.5px solid var(--currentModelBorder);
  background-color: var(--currentModelBackground);
  color: var(--currentModelColor);
  border-radius: 15px;
}

.sidebarCollapseButton {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.sidebarCollapseContainer:hover {
  background-color: var(--currentModelHover);
  cursor: pointer;
}
